@import './modules/variables';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $body-font-family;
}

h1  {
  font-size: 96px;
  &, h2, h3 {
    font-family: $heading-font-family;
  }
}

p {
  margin: {
    bottom: 20px;
  }
}
