@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Raleway');

$body-bg-color: #333894;
$body-margin: 0;
$body-padding: 0;
$body-font-family: 'Josefin Slab', serif;

$heading-font-family: 'Raleway', sans-serif;

$project-width: 400px;
